.header-content {
    position: relative;
    right: 120vh;
    transition: right 1s ease-in-out;
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    #header {
        height: 100%;
        text-align: center;
        padding: 40px;

        .logo {
            display: flex;
            justify-content: center;

            img {
                height: 45vh;
                border-radius: 50%;
            }
        }

        h1 {
            font-size: 40px;
            padding: 10px;
            margin: 0;
        }

        p {
            font-size: 18px;
            padding: 10px;
            margin: 0px;
        }

        .icons {
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 5px;
            margin: 0;

            li {
                padding: 5px;
            }
        }
    }

    &.loaded {
        right: 0vh;
    }
}

@media screen and (max-height: 500px) {
    .header-content {
        height: 90vh;

        #header {
            .logo {
                img {
                    height: 25vh;
                }
            }
        }
    }
}
