#main {
    background-color: #ffffff;
    color: #636363;
    border-radius: 5px;

    .main {
        padding: 80px;
        border-top: solid 1px #dddddd;
    }

    .icon.alt {
        border-color: #dddddd;
        color: #636363;
    }

    .icon.alt:hover {
        background-color: rgba(222, 222, 222, 0.25);
    }

    .icon.alt:active {
        background-color: rgba(222, 222, 222, 0.5);
    }
}

#main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#main h6 {
    color: #636363;
}
